
		<script type="text/javascript" src="{{#if_eq type "listpage"}}../{{/if_eq}}assets/js/prism.js"></script>
		<!--<script type="text/javascript" src="http://localhost:9000/dist/js/main.js"></script>-->
		<script type="text/javascript" src="https://cdn.ons.gov.uk/sixteens/b3c7947/js/main.js"></script>
		<script type="text/javascript" src="https://www.ons.gov.uk/js/app.js"></script>
		<script type="text/javascript" src="{{#if_eq type "listpage"}}../{{/if_eq}}assets/js/main.js"></script>
		<!--<script type="text/javascript" src="../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../assets/js/main.js"></script>-->

		<div class="pl-footer background--ship-grey">
			<div class="pl-wrap__inner footer">
				<div class="footer-nav col-wrap">
					<div class="col col--lg-one-third col--md-one-third">
						<h3 class="footer-nav__heading">Related</h3>
						<ul class="footer-nav__list">
							<li class="footer-nav__item">
								<a href="https://www.ons.gov.uk/">ONS website</a>
							</li>
							<li class="footer-nav__item">
								<a href="https://github.com/ONSdigital/sixteens">Sixteens on GitHub</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
  </body>
</html>