
		<script type="text/javascript" src="{{#if_eq type "listpage"}}../{{/if_eq}}assets/js/prism.js"></script>
		<!--<script type="text/javascript" src="https://www.ons.gov.uk/assets/js/main.js"></script>-->
		<!--<script type="text/javascript" src="http://localhost:9000/dist/js/main.js"></script>-->
		<script type="text/javascript" src="https://www.ons.gov.uk/assets/js/main.js"></script>
		<script type="text/javascript" src="{{#if_eq type "listpage"}}../{{/if_eq}}assets/js/main.js"></script>
		<!--<script type="text/javascript" src="../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../assets/js/main.js"></script>-->

		<div class="pl-footer background--ship-gray">
			<div class="pl-wrap__inner">
				{{ type }}
				<p class="margin-top-md--0">A footer</p>
			</div>
		</div>
  </body>
</html>