{{> header}}
<div class="page-intro background--gallery">
    <div class="pl-wrap__inner">
        {{> listpagebreadcrumb}}
        <h1 class="page-intro__title">{{ title }}</h1>
        {{{ contents }}}
    </div>
</div>
<div class="pl-wrap__inner">
    <h2>Using the pattern library</h2>
    <ol>
        <li>Put a link to the main CSS file on ons.gov.uk (<a target="_blank" href="https://www.ons.gov.uk/assets/css/main.css">https://www.ons.gov.uk/assets/css/main.css</a>) in the head of your page.</li>
        <li>Put a link to the pattern library JS file from ons.gov.uk (<a href=""></a>)</li>
    </ol>
    <h2>How is the pattern library built?</h2>
    <p>The patterns are built in the <a href="https://github.com/onsdigital/sixteens/tree/live">'Sixteens' repository on the
        ONSDigital Github</a>. To have a play around with the original code follow the instructions in the README to install and use the pattern library.</p>
</div>
{{> footer}}