{{> header}}
			<div class="page-intro background--gallery">
				<div class="pl-wrap__inner">
					{{> listpagebreadcrumb}}
					<h1 class="page-intro__title">{{ title }}</h1>
					{{{ contents }}}
				</div>
			</div>
			<div class="pl-wrap">
				<div class="pl-wrap__inner">
					<div class="table-of-contents js-sticky-toc padding-bottom-md--3">
						<h2 class="table-of-contents__title">Table of contents</h2>
						<ol id="toc" class="table-of-contents__list">
							{{#each collections.typography}}
							<li class="table-of-contents__item">
								<a href="#{{ slug this.title }}" class="jsEnhanceAnimateScroll">{{ this.title }}</a>
							</li>
							{{/each}}
						</ol>
					</div>
					<div class="page-content__main-content pl-page-content__main-content js-sticky-toc__trigger">
						{{#each collections.typography}}
						<div class="pl-item" id="{{ slug this.title }}">
							<h2>{{ this.title }}</h2>
							{{{ this.contents }}}
							{{#if this.show-snippet}}
							<div class="pl-example">
								<div class="pl-example__rendered">
									{{{ this.snippet }}}
								</div>
								<button class="pl-btn pl-btn--show-grid btn btn--primary js-show-grid">Show grid</button>
								<div class="pl-example__code">
									<pre><code class="language-html">{{ this.snippet }}</code></pre>
								</div>
							</div>
							{{/if}}
						</div>
						{{/each}}
					</div>
				</div>
			</div>
{{> footer}}